body {
    background-color: black;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}

#main-page {
    display: flex;
    background-color: white;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
}

.message {
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: 800;
}

#banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: xx-large;
    color: black;
    background-color: rgba(255, 255, 255, .7);
    width: 100%;
    padding: 10px;
}

#company {
    display: flex;
    justify-content: center;
    align-self: center;
}

#credit {
    position: absolute;
    bottom: 0;
    color: white;
}

#image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.picture {
    background-image: url(./images/soap.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50vw;
    
}

#main-info {
    display: flex;
    flex-direction: column;
    min-width: 50%;
    justify-content: center;
    background-color: rgb(70, 82, 59);
}

#message {
    padding-left: 50px;
    padding-right: 40px;
    color: rgb(255, 255, 255);
}

#message1 {
    padding-top: 40px;
    margin-bottom: 0px;
}

#message2 {
    margin-top: 10px;
}

#message3 {
    padding-top: 30px;
    padding-bottom: 30px;
}

#input-section {
    display: flex;  
    flex-direction: row;
}
 
#right-row {
    margin-left: 50px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    justify-content: space-around;
}

#information {
    display: flex;
    flex-direction: column;
}

#btn {
    margin: 30px;
}

fieldset {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(96, 186, 95);
    border: none;
    margin-left: 0;
    margin-right: 0;
}

legend {
    position: absolute;
    top: 10px;
    left: 50px;
    font-size: x-large;
    font-weight: bold;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}

input,
textarea,
select,
button {
    width: 210px;
    padding: 0;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input {
    border-radius: 4px;
    padding: 4px;
    border: 1px solid rgb(200, 200, 200);
}

button {
    border-radius: 6px;
    font-size: larger;
    background-color: rgb(0,0,0);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px;
}

#link,
#btn {
    margin-left: 50px;
}

a {
    color: rgb(200,200,200);
    text-decoration: none;
}

:focus {
    outline: 0;
    border: 2px solid grey;
    box-shadow: 3px 3px 10px;
}